.calculadora {
    background-color: #d3248d;
    border-radius: 10px;
    border: 6px solid #ce097f;
    padding: 1%;
}

.calculadora button {
    margin: 3px;
    width: 4vw;
    height: 7vh;
    font-size: 22px;
}
#visor {
    font-size: 50px;
    height: 10vh;
    max-width: 25vw;
    margin-bottom: 2%;
}