
.calculadora {
    width: 18vw;
    background-color: #e863b7;
    border: 3px solid #c9007f;
    border-radius: 10px;
}

.resultado {
    font-size: 30px;
    height: 10vh;
}

button {
    height: 50px;
    margin: 0px 2px 2px 0px;
    font-size: 1.5rem;
}