* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.novaNota{
    width: 42%;
}
